.preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: $color_blue;
    color: $color-white;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    place-items: center;
    padding: 15rem 5rem;
    z-index: z('preloader');

    @include media('<phone') {
        padding: 2rem;
    }
}
.preloader_intro_text {
    font-size: 5rem;
    font-weight: 300;
    align-self: end;
    text-align: center;
    grid-row: 1/2;
    text-transform: uppercase;

    @include media('<phone') {
        font-size: 2rem;
    }
}
.preloader_text {
    font-size: 4rem;
    text-align: center;
    grid-row: 2/-1;
    animation: loadingText 2s infinite cubic-bezier(0.645, 0.045, 0.355, 1);

    @include media('<phone') {
        font-size: 2rem;
    }
}

@keyframes loadingText {
    0%{
        color: $color_white;
    }
    50%{
        color: $color_shark;        
    }
}
.preloader_enter_button {
    opacity: 0;
    cursor: none;
    background-color: $color_gull_gray;
    color: $color_shark;
    padding: 1rem 3rem;
    border-radius: 15px;
    border: 0.3rem solid $color-white;
    font-size: 4rem;
    text-align: center;
    grid-row: 2/-1;
    position: absolute;

    @include media('<phone') {
        padding: 2rem 3rem;
        font-size: 2.3rem;
    }

}
